.green {
  color: green;
}
.red {
  color: red;
}
.black {
  color: black;
}
.App {
  text-align: center;
}

.container {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

.showBox {
  /* position: absolute; */
  background-color: rgb(231, 88, 172);
  margin: 20px 0;
  animation: left-to-right ease-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes left-to-right {
  0% {
    width: 0;
  }

  100% {
    max-width: 300px;
  }
}
